In [ ]:
friends = ["Alex", "Jhon", "Clex", "xmeana"]
for friend in friends:
  print("Hi " + friend)

Hi Alex
Hi Jhon
Hi Clex
Hi xmeana

In [ ]:
x = 0
while x < 5:
  print("Not there yet, x=" + str(x))
  x = x + 1
print("x=" + str(x))

Not there yet, x=0
Not there yet, x=1
Not there yet, x=2
Not there yet, x=3
Not there yet, x=4
x=5

In [ ]:
 def attempts(n):
  x = 1
  while x <= n:
    print("Attempt " + str(x))
    x += 1
  print("Done " + str(x))

attempts(5)

Attempt 1
Attempt 2
Attempt 3
Attempt 4
Attempt 5
Done 6

In [ ]:
my_variable = 5
while my_variable < 10:
  print("Hello")
  my_variable += 1

Hello
Hello
Hello
Hello
Hello

In [ ]:
x = 0
sum = 0
while x < 10:
  sum += x
  x += 1
print(sum)

45

In [ ]:
product = 1
while x < 10:
  product *= x
  x += 1
print(product)

1

In [ ]:
if x!= 0:
  while x % 2 == 0:
    x = x / 2

In [ ]:
for x in range(5):
  print(x)

0
1
2
3
4

In [ ]:
values = [23, 52, 59, 37, 48]
sum = 0
length = 0
for value in values:
  sum += value
  length += 1
print("Total sum: " + str(sum) + " - Average: " + str(sum/length))

Total sum: 219 - Average: 43.8

In [ ]:
product = 1
for n in range(1, 10):
  product *= n
print(product)

362880

In [ ]:
def to_celsius(x):
  return (x-32)*5/9

for x in range(0, 101, 10):
  print(x, to_celsius(x))

0 -17.77777777777778
10 -12.222222222222221
20 -6.666666666666667
30 -1.1111111111111112
40 4.444444444444445
50 10.0
60 15.555555555555555
70 21.11111111111111
80 26.666666666666668
90 32.22222222222222
100 37.77777777777778

In [ ]:
for left in range(7):
  for right in range(left, 7):
    print("[" + str(left) + "|" + str(right) + "]", end=" ")
  print()

[0|0] [0|1] [0|2] [0|3] [0|4] [0|5] [0|6]
[1|1] [1|2] [1|3] [1|4] [1|5] [1|6]
[2|2] [2|3] [2|4] [2|5] [2|6]
[3|3] [3|4] [3|5] [3|6]
[4|4] [4|5] [4|6]
[5|5] [5|6]
[6|6]

In [ ]:
teams = ['Dragons', 'Wolves', 'Pandas', 'Unicorns']
for home_team in teams:
  for away_team in teams:
    if home_team != away_team:
      print(home_team + " vs " + away_team)

Dragons vs Wolves
Dragons vs Pandas
Dragons vs Unicorns
Wolves vs Dragons
Wolves vs Pandas
Wolves vs Unicorns
Pandas vs Dragons
Pandas vs Wolves
Pandas vs Unicorns
Unicorns vs Dragons
Unicorns vs Wolves
Unicorns vs Pandas

In [ ]:
for x in range(1, 11):
  print(x, end=" ")

1 2 3 4 5 6 7 8 9 10

In [ ]:
x = 1
while x < 11:
  print(x, end=" ")
  x += 1

1 2 3 4 5 6 7 8 9 10

In [ ]:
for x in [25]:
  print(x)

25

In [ ]:
def greet_friends(friends):
  for friend in friends:
    print("Hi " + friend)

greet_friends(['Taylor', 'Luisa', 'Jamaal', 'Eli'])
greet_friends("Barry")

Hi Taylor
Hi Luisa
Hi Jamaal
Hi Eli
Hi B
Hi a
Hi r
Hi r
Hi y

In [ ]:
def factorial(n):
  if n < 2:
    return 1
  return n * factorial(n-1)
factorial(1)

1

In [ ]:
def factorial(n):
  print("Factorial called with " + str(n))
  if n < 2:
    print("Returning 1")
    return 1
  result = n * factorial(n-1)
  print("Returning " + str(result) + " for factorial of " + str(n))
  return result

factorial(4)

Factorial called with 4
Factorial called with 3
Factorial called with 2
Factorial called with 1
Returning 1
Returning 2 for factorial of 2
Returning 6 for factorial of 3
Returning 24 for factorial of 4

24

In [ ]:
def factorial(n):
  if n < 2:
    return 1
  return n * factorial(n-1)
factorial(1000)

RecursionError: maximum recursion depth exceeded

In [ ]:
result = 0
for i in range(5):
  result += 2 * i
print(result)

20

In [ ]:
print(7+8)
print("hello " + "world")
print(7+8.5)
print(7 + "8")

15
hello world
15.5

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
print(type("a"))
print(type(2))
print(type(2.5))
print(type(True))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

In [ ]:
length = 10
width = 2
area = length * width
print(area)

20

In [ ]:
print("a" + "b" + "c")
print("This " + "is " + "Pretty " + "neat!")

abc
This is Pretty neat!

In [ ]:
base = 6
height = 3
area = (base * height) / 2
print("The area of the triangle is: " + str(area))

The area of the triangle is: 9.0

In [ ]:
def greeting(name):
  print("Welcome, " + name)

greeting("naveen")
greeting("Jhon")

Welcome, naveen
Welcome, Jhon

In [ ]:
def greeting(name, department):
  print("Welcome, " + name)
  print("You are part of " + department)

greeting("Jhon", "IT Support")
greeting("alex", "Software Development")

Welcome, Jhon
You are part of IT Support
Welcome, alex
You are part of Software Development

In [ ]:
def area_triangle(base, height):
  return base*height/2

area_a = area_triangle(5,4)
area_b = area_triangle(7,3)
sum = area_a + area_b
print("The sum of both areas is: " + str(sum))

The sum of both areas is: 20.5

In [ ]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours * 3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds

hours, minutes, seconds = convert_seconds(5000)
print(hours, minutes, seconds)

1 23 20

In [ ]:
def greeting(name):
  print("Welcome, " + name)

result = greeting("Jhon")
print(result)

Welcome, Jhon
None

In [ ]:
name = "kay"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

name = "Cameron"
number = len(name) * 9

print("Hello " + name + ". Your lucky number is " + str(number))

Hello kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [ ]:
def lucky_number(name):
  number = len(name) * 9
  print("Hello " + name + ". Your lucky number is " + str(number))

lucky_number("Kay")
lucky_number("Cameron")

Hello Kay. Your lucky number is 27
Hello Cameron. Your lucky number is 63

In [ ]:
def calculate(d):
  q = 3.14
  z = q * (d ** 2)
  print(z)

calculate(5)

78.5

In [ ]:
def circle_area(radius):
  pi = 3.14
  area = pi * (radius ** 2)
  print(area)

circle_area(5)

78.5

In [ ]:
print(10 > 1)
print("cat" == "dog")
print(1 != 2)
print( 1 == "1")
print(1 < "2")

True
False
True
False

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
print("Yellow" > "Cyan" and "Brown" > "Magenta")

False

In [ ]:
print(25 > 50 or 1 != 2)

True

In [ ]:
print(not 42 == "Answer")

True

In [ ]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
  else:
    print("Valid username")
hint_username("naveen")
hint_username("aa")

Valid username
Invalid username. Must be at least 3 characters long

In [ ]:
def is_even(number):
  if number % 2 == 0:
    return True
  return False
is_even(6)

True

In [ ]:
def hint_username(username):
  if len(username) < 3:
    print("Invalid username. Must be at least 3 characters long")
  elif len(username) > 15:
      print("Invalid username. Must be at most 15 characters long")
  else:
      print("Valid username")

hint_username("naveenbabu")

Valid username

In [ ]:
class Apple:
  pass

class Apple:
  color = ""
  flavor = ""

jonagold = Apple()
jonagold.color = "red"
jonagold.flavor = "sweeet"

print(jonagold.color)
print(jonagold.flavor)

print(jonagold.color.upper())

jonagold = Apple()
jonagold.color = "Yellow"
jonagold.flavor = "Soft"

print(jonagold.color.lower())
print(jonagold.flavor.upper())

red
sweeet
RED
yellow
SOFT

In [ ]:
class Piglet:
  def speak(self):
    print("oink oink")

hamlet = Piglet()
hamlet.speak()

oink oink

In [ ]:
class Piglet:
  name = "piglet"
  def speak(self):
    print("Oink! I'm {}! Oink!".format(self.name))

hamlet = Piglet()
hamlet.name = "Hamlet"
hamlet.speak()

petunia = Piglet()
petunia.name = "Petunia"
petunia.speak()

Oink! I'm Hamlet! Oink!
Oink! I'm Petunia! Oink!

In [ ]:
class Piglet:
  years = 0
  def pig_years(self):
    return self.years * 18

piggy = Piglet()
print(piggy.pig_years())

piggy.years = 2
print(piggy.pig_years())

0
36

In [ ]:
class Apple:
  def __init__(self, color, flavor):
    self.color = color
    self.flavor = flavor

jonagold = Apple("red", "sweet")
print(jonagold.color)
print(jonagold.flavor)

print(jonagold)

red
sweet
<__main__.Apple object at 0x7ecdb4167910>

In [ ]:
class Apple:
  def __init__(self, color, flavor):
    self.color = color
    self.flavor = flavor
  def __str__(self):
    return "This apple is {} and its flavor is {}".format(self.color, self.flavor)

jonagold = Apple("red", "sweeet")
print(jonagold)

This apple is red and its flavor is sweeet

In [ ]:
class Apple:
  def __init__(self, color, flavor):
    self.color = color
    self.flavor = flavor
  def __str__(self):
    return "This apple is {} and its flavor is {}".format(self.color, self.flavor)

help(Apple)

Help on class Apple in module __main__:

class Apple(builtins.object)
 |  Apple(color, flavor)
 |
 |  Methods defined here:
 |
 |  __init__(self, color, flavor)
 |      Initialize self.  See help(type(self)) for accurate signature.
 |
 |  __str__(self)
 |      Return str(self).
 |
 |  ----------------------------------------------------------------------
 |  Data descriptors defined here:
 |
 |  __dict__
 |      dictionary for instance variables
 |
 |  __weakref__
 |      list of weak references to the object

In [ ]:
def to_seconds(hours, minutes, seconds):
  """Returns the amount of seconds in the given hours, minutes and seconds."""
  return hours * 3600 + minutes * 60 + seconds

help(to_seconds)

Help on function to_seconds in module __main__:

to_seconds(hours, minutes, seconds)
    Returns the amount of seconds in the given hours, minutes and seconds.

In [ ]:
class Piglet:
  """Represents a piglet that can say their name."""
  years = 0
  name = ""
  def speak(self):
    """Outputs a message including the name of the piglet."""
    print("Oink! I'm {}! Oink!".format(self.name))
  def pig_years(self):
    """Converts the curent age equivalent pig years."""
    return self.years * 18
jonagold = Piglet()
jonagold.name = "piglet"
jonagold.years = 2
jonagold.speak()
print("{} is {} years old in pig years".format(jonagold.name, jonagold.pig_years()))

Oink! I'm piglet! Oink!
piglet is 36 years old in pig years

In [ ]:
class Fruit:
  def __init__(self, color, flavor):
    self.color = color
    self.flavor = flavor

class Apple(Fruit):
  pass

class Grape(Fruit):
  pass

granny_smith = Apple("green", "tart")
carnelian = Grape("purple", "sweet")
print(granny_smith.flavor)
print(carnelian.color)

tart
purple

In [ ]:
class Animal:
  sound = ""
  def __init__(self, name):
    self.name = name
  def speak(self):
    print("{sound} I'm {name}! {sound}".format(name=self.name, sound=self.sound))

class Piglet(Animal):
  sound = "Oink!"

hamlet = Piglet("Hamlet")
hamlet.speak()

class Cow(Animal):
  sound = "Mooooo"

milky = Cow("Milky White")
milky.speak()

class dog(Animal):
  sound = "Boww"

doggy = dog("doggy")
doggy.speak()

Oink! I'm Hamlet! Oink!
Mooooo I'm Milky White! Mooooo
Boww I'm doggy! Boww

In [ ]:
class Repository:
  def __init__(self):
    self.packages = {}
  def add_package(self, package):
    self.packages[package.name] = package
  def total_size(self):
    result = 0
    for package in self.package.values():
      result += package.size
    return result

In [ ]:
import random
random.randint(1,10)

random.randint(1,10)

random.randint(1,10)

5

In [ ]:
import datetime
now = datetime.datetime.now()
type(now)
print(now)
now.year
print(now + datetime.timedelta(days=28))

2025-07-20 09:07:05.771730
2025-08-17 09:07:05.771730

In [ ]:
name = "Sasha"
color = 'gold'
place = "cambridge"

pet = ""
pet = "looooooooooooooooooooooooooooooong cat"
print("Name: " + name + ", Favorite color: " + color)
len(pet)

Name: Sasha, Favorite color: gold

38

In [ ]:
pets = "Cats & Dogs"
pets.index("&")
pets.index("C")
pets.index("s")
"Dragons" in pets
"Cats" in pets

True

In [ ]:
def replace_domain(email, old_domain, new_domain):
  if "@" + old_domain in email:
    index = email.index("@" + old_domain)
    new_email = email[:index] + "@" + new_domain
    return new_email
  return email

In [ ]:
"Mountains".upper()
"Mountains".lower()

'mountains'

In [ ]:
answer = "yes"
if answer == "yes":
  print("You got it right!")

You got it right!

In [ ]:
"yes ".strip()

'yes'

In [ ]:
" yes ".lstrip()

'yes '

In [ ]:
" yes ".rstrip()

' yes'

In [ ]:
"The number of times e occurs in this string is 4".count("e")

4

In [ ]:
"Forest".endswith("rest")

True

In [ ]:
"Forest".isnumeric()

False

In [ ]:
"12345".isnumeric()

True

In [ ]:
int("12345") + int("54321")

66666

In [ ]:
" ".join(["This", "is", "a", "phase", "joined", "by", "spaces"])

'This is a phase joined by spaces'

In [ ]:
"....".join(["This", "is", "a", "phrase", "joined", "by", "triple", "dots"])

'This....is....a....phrase....joined....by....triple....dots'

In [ ]:
total = 0
for i in range(1,5):
  total += i
print(total)

10

In [ ]:
"This is another example".split()

['This', 'is', 'another', 'example']

In [ ]:
x = "i love programming!"
print(x.title())

I Love Programming!

In [ ]:
name = "Manny"
number = len(name) * 3
print("Hello {}, your lucky number is {}".format(name, number))
print("Hello {name}, Your lucky number is {number}".format(name=name, number=len(name)*3))

Hello Manny, your lucky number is 15
Hello Manny, Your lucky number is 15

In [ ]:
price = 7.5
with_tax = price * 1.09
print(price, with_tax)
print("Base price: ${:.2f}, with tax: ${:.2f}.format(price, with_tax)")

7.5 8.175
Base price: ${:.2f}, with tax: ${:.2f}.format(price, with_tax)

In [ ]:
def to_celsius(x):
  return (x-32)*5/9

for x in range(0, 101, 10):
  print("{:>3} F | {:>6.2f} C".format(x, to_celsius(x)))

  0 F | -17.78 C
 10 F | -12.22 C
 20 F |  -6.67 C
 30 F |  -1.11 C
 40 F |   4.44 C
 50 F |  10.00 C
 60 F |  15.56 C
 70 F |  21.11 C
 80 F |  26.67 C
 90 F |  32.22 C
100 F |  37.78 C

In [ ]:
x = ["Now", "we", "are", "cooking!"]
type(x)
print(x)
len(x)
"are" in x
"Today" in x
print(x[0])
print(x[3])
print(x[1:3])
x[:2]
x[2:]

['Now', 'we', 'are', 'cooking!']
Now
cooking!
['we', 'are']

['are', 'cooking!']

In [ ]:
fruits = ["Pineapple", "Banana", "Apple", "Melon"]
fruits.append("Kiwi")
print(fruits)
fruits.insert(0, "Orange")
print(fruits)
fruits.insert(25, "Peach")
print(fruits)
fruits.remove("Melon")
print(fruits)
fruits.pop(3)
print(fruits)
fruits[2] = "Strawberry"
print(fruits)

['Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Melon', 'Kiwi', 'Peach']
['Orange', 'Pineapple', 'Banana', 'Apple', 'Kiwi', 'Peach']
['Orange', 'Pineapple', 'Banana', 'Kiwi', 'Peach']
['Orange', 'Pineapple', 'Strawberry', 'Kiwi', 'Peach']

In [ ]:
fullname = ('Grace', 'M', 'Hopper')
print(type(fullname))

<class 'tuple'>

In [ ]:
def convert_seconds(seconds):
  hours = seconds // 3600
  minutes = (seconds - hours * 3600) // 60
  remaining_seconds = seconds - hours * 3600 - minutes * 60
  return hours, minutes, remaining_seconds

result = convert_seconds(5000)
type(result)
print(result)

hours, minutes, seconds = result
print(hours, minutes, seconds)

hours, minutes, seconds = convert_seconds(1000)
print(hours, minutes, seconds)

(1, 23, 20)
1 23 20
0 16 40

In [ ]:
animals = ["Lion", "Zebra", "Dolphin", "Money"]
chars = 0
for animal in animals:
  chars += len(animals)

print("Total characters: {}, Average length: {}".format(chars, chars/len(animals)))

Total characters: 16, Average length: 4.0

In [ ]:
winners = ["Ashley", "Dylan", "Reese"]
for index, person in enumerate(winners):
  print("{} - {}".format(index + 1, person))

1 - Ashley
2 - Dylan
3 - Reese

In [ ]:
def full_emails(people):
  result = []

  for email, name in people:
    result.append("{} <{}>".format(name, email))
  return result

print(full_emails([("alex@example.com", "Alex Diego"), ("jay@example.com", "Jay Diego")]))

['Alex Diego <alex@example.com>', 'Jay Diego <jay@example.com>']

In [ ]:
multiple = []
for x in range(1,11):
  multiple.append(x*7)

print(multiple)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
def multiple_table(x):
  multiple = []
  for i in range(1,11):
    multiple.append(x*i)
  return multiple

result = multiple_table(7)
print(result)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
multiple = [x * 7 for x in range(1,11)]
print(multiple)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
multiple = list(map(lambda x: x*7, range(1,11)))
print(multiple)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70]

In [ ]:
languages = ["Python", "Perl", "Ruby", "Go", "Java", "C"]
lengths = [len(language) for language in languages]
print(lengths)

[6, 4, 4, 2, 4, 1]

In [ ]:
z = [x for x in range(0, 101) if x % 3 == 0]
print(z)

[0, 3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48, 51, 54, 57, 60, 63, 66, 69, 72, 75, 78, 81, 84, 87, 90, 93, 96, 99]

In [ ]:
x = {}
type(x)

dict

In [ ]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
print(file_counts)
file_counts["txt"]
"jpg" in file_counts
"html" in file_counts
file_counts["cfg"] = 8
print(file_counts)
file_counts["csv"] = 17
print(file_counts)
del file_counts["cfg"]
print(file_counts)

{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23}
{'jpg': 10, 'txt': 14, 'csv': 2, 'py': 23, 'cfg': 8}
{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 23, 'cfg': 8}
{'jpg': 10, 'txt': 14, 'csv': 17, 'py': 23}

In [ ]:
file_counts = {"jpg":10, "txt":14, "csv":2, "py":23}
for extension in file_counts:
  print(extension)

for ext, amount in file_counts.items():
  print("There are {} files with the .{} extension".format(amount, ext))

file_counts.keys()
file_counts.values()

for value in file_counts.values():
  print(value)

jpg
txt
csv
py
There are 10 files with the .jpg extension
There are 14 files with the .txt extension
There are 2 files with the .csv extension
There are 23 files with the .py extension
10
14
2
23

In [ ]:
from itertools import count
def count_letters(text):
  result = {}
  for letter in text:
    if letter not in result:
      result[letter] = 0
    result[letter] += 1
  return result

count_letters("aaaaa")
count_letters("tenant")
count_letters("a long string with a lot of letters")

{'a': 2,
 ' ': 7,
 'l': 3,
 'o': 3,
 'n': 2,
 'g': 2,
 's': 2,
 't': 5,
 'r': 2,
 'i': 2,
 'w': 1,
 'h': 1,
 'f': 1,
 'e': 2}